@use "../abstracts" as *;
.destinationInfo {
    margin: 8rem 0;
  
    &__p {
        font-size: 1.6rem;
        color: $silverDark;
        line-height: 2.8rem;
      
    }
    &__details {
        @include align(flex, space-between, center, null);
        padding: 1.3rem 0;
        border-bottom: 1px dotted $silverLight-50;
        &__head {
            font-size: 1.6rem;
            color: $silverDark;
        }
        &__text {
            font-size: 1.6rem;
            color: $silverDark;
        }
    }
}
.product__reviews{
   margin: 0rem 2rem;
   font-size:1.6rem;
   width: 100%;
   &__review{
       padding: 2rem;
       background:$silverLight-40;
       margin: 0rem 1rem 1rem 1rem;
       &__name{
           font-weight: 600;
           font-size:1.7rem;
       }
       &__date{
           margin-left: 2rem;
           font-size:1.5rem;
           font-weight: 400;
       }
   }
}
.product__details{
    margin-top: 5rem;
    min-height: 43rem;
    
    &__image{
        width: 100%;
        overflow: hidden;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;;
        position: relative;
        
          
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
            image-rendering: pixelated;
            transition:all .5s linear;
           
            &:hover{
                transform: scale(1.2);
            }
            
            
        }
    }
    &__slide{
        width: 100%;
        display: flex;
        &__img{
            margin:1rem;
            @include align(flex,center,center,null);
            
        max-width:17%!important;
        img{
        
            width:100%;
            height:100%;
            object-fit: cover;
            cursor: pointer;
        }
        }
    }
    &__contents{
        margin-left:4rem;
        &__name{
            font-size: 1.6rem;
            color:$silverDark;
        }
        &__rating{
            @include align(flex,center,center,null);
            &__rating{
                margin-top:1rem;
            }
            svg{
                width: null;
            }
        }
        &__price{
            padding-top: 1rem;
            font-size: 3rem;
            color:$blackDark;
            &__dollor{
                font-size: 2rem;
            }
        }
        &__status{
            font-size: 2rem;
            margin:1.6rem;
            &--true{
                color:rgb(93, 238, 56);
            }
            &--false{
                color:red;
            }
        }
        &__description__heading{
            border-top: 1px dotted $silverLight-50;
            padding:1rem 0rem;
            font-size:2rem;
        }
        &__description__msg{
            font-size:1.6rem;
            
             font-weight: 700!important;
            line-height: 2.5rem;
            li{
                margin-bottom:.5rem;
            }
        }
    }
    
}
.signin {
    margin: 0rem 10rem;
    &__image{
        
        width:100%;
        height: auto;
        img{
            width: 100%;
            height:auto;
            object-fit: cover;
            cursor: pointer;
        }
   }
   &__form{
       width: 100%;
       height: 99.5%;
       background:linear-gradient(to right,#1c1b20,#585659) ;
       @include align(flex,center,center,null);
       
       &__contents{
           width:30rem;
           height:auto;
        margin-bottom: 5rem;
           color:$white;
           &__heading{
               font-size: 3rem;
               display: flex;
                justify-content: center;
                text-transform:uppercase;
                margin-bottom: 1.5rem;
           }
           &__email{
               @include align(flex,space-between,null,null);
               &__text{
                   font-size:2.1rem;
               }
               margin-bottom: 1.5rem;
               &__input{
                width:65%;
            }
           }
           &__password{
            @include align(flex,space-between,null,null);
            margin-bottom: 1.5rem;
            &__text{
                font-size:2.1rem;
            }
            &__input{
                width:65%;
            }
            
        }

       }
       &__button{
           @include align(flex,space-between,center,null);
        &__button{
            margin-left:2rem;
        }
        &__new{
            font-size:1.7rem;
            margin-right:2rem;
            a {
                color: inherit;
                 text-decoration: none;
                }
        }
    }
   }
}
.cart {
    
    margin: 3rem 10rem;
    &__empty{
        width: 100%;
        height: auto;
        @include align(flex,center,center,null);
        img{
            width: 45%;;
        }
        &__link{
            width: 100%;
            height: auto;
            @include align(flex,center,center,null);
            
            a{
                font-size:2rem;
                margin-top:2rem;
                padding:1rem 2rem;
            background-color:#ffca55 ;
            text-decoration: none;
            color:$white;
                border-radius: 1rem;
            }
        }
    }
    &__checkout{
        height: 100%;
        padding:2rem;
        margin-left:1rem;
        background: $silverLight-40;
        &__heading{
            font-size: 1.7rem;
            padding-bottom: 1rem;
            border-bottom:dotted 1px $silverDark;
        }
        &__total{
            margin:1rem 0rem;
            font-size:2rem;        
        }
        &__qty{
            font-size:1.7rem;
            margin-bottom: 1rem;
        }
        &__button{
            padding-top: 1rem;
            border-top:dotted 1px $silverDark;
        }
    }
    &__title{
        background:$silverLight-40;
        font-size:1.7rem;
        font-weight: 700;
        @include align(flex,space-between,center,5rem);
        &__product{
            padding-left:2rem;
        }
        &__atc{
            display: flex;
            justify-content: space-between;
            
            :nth-child(1){
                margin-right: 1rem;
            }
            :nth-child(2){
                margin-right: -2rem;
            }
            :nth-child(3){
                margin-right: 8rem;
            }
        }
    }
    &__infomation{
        @include align(flex,space-between,center,null);
        position: relative;
        background: $silverLight-40;
        margin-top:1rem;
        &__image{
            border-radius: 52rem;
            padding: 1rem;
            img{
                width: 11rem;
                height:auto;
                object-fit: cover;
                cursor: pointer;
            }
       }
       &__name{
           position: absolute;
           left:15rem;
           font-size:1.5rem;
           font-weight: 600;
       }
       &__price{
        font-size:1.5rem;
        font-weight: 500;
        margin-left:-3rem;
       }
       &__total{
        font-size:1.5rem;
        font-weight: 500;
        margin-right:-10rem;
       }
       &__stepper{
           position: absolute;
           top:4.5rem;
           right:23rem;
       }
       &__delete{
           margin-right:2rem;
           cursor: pointer;
       }
    }

}

.wrapper .icon{
    position: relative;
}
.header__right__cart__icon .wrapper .icon .tooltip{
    position: absolute;
    top:3rem;
    left:-30rem;
    background: $silverLight-40;
    box-shadow: 0 10px 10px rgb(0,0,0,0.1);
    opacity:0;
    pointer-events: none;
    padding:2rem;
    z-index:10;
    width:22rem;
    @include responsive(small){
        left:-31.5rem;
    }
    @include responsive(xsmall){
        left:-32.5rem;
    }
}

.wrapper .icon .tooltip{
    position: absolute;
    top:3rem;
    right:0rem;
    background: $silverLight-40;
    box-shadow: 0 10px 10px rgb(0,0,0,0.1);
    opacity:0;
    pointer-events: none;
    padding:2rem;
    z-index:10;
    width:22rem;
    @include responsive(small){
        top:2rem;
    }
    @include responsive(xsmall){
        top:2rem;
        right:-.5rem;
    }
}
.wrapper .icon .tooltip::before{
    position: absolute;
    content:"";
    height: 15px;
    width:15px;
    top:-0.7rem;
    right:0rem;
    background-color:$silverLight-40;
    transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
}