@use "../abstracts" as *;
.information{
    margin-top: 10rem;
    position: relative;
    @include responsive(small){
            
       margin-top:2rem;
    }
    @include responsive(xsmall){
       
        margin-top:2rem;
    }
    &__review{
       
        &__rating{
            @include align(flex,null,center,null);
            margin: 1rem !important;
        span{
            font-size:1.7rem;
            padding-right: 2rem;
        }
    } &__comment{
        margin: 1rem !important;
        font-size:1.7rem;
        textarea{
            margin-top: 1rem;
            width: 100%;
            height: 10rem;
            padding: 1rem 1.7rem;
            line-height: 2rem;
  box-sizing: border-box;
  border: .2rem solid #ccc;
  border-radius: .2rem;
  background-color: #f8f8f8;
  resize: none;
        }
    }
    
    }
    &__cart{
        @include responsive(medium){
            position: absolute;
            right:0;
            width: 50%;
        }
        @include responsive(small){
            
            width: 100%;
        }
        @include responsive(xsmall){
           
            width: 100%;
        }
        background-color: #FAFAFA;
        height: 100%;
        width:100%;
        &__item{
            position: relative;
            @include align(flex,null,center,null);
            &__image{
               
                padding: 1rem;
                img{
                    border-radius: 1rem;
                    width: 7rem;
                    height:auto;
                    object-fit: cover;
                    cursor: pointer;
                }
           }
           &__qty{
               position: absolute;
               top:0rem;
               left:6.5rem;
               font-size:1.4rem;
               border-style: solid;
               border-radius: 5rem;
               border-color:$silverDark;
               background:$silverDark;
               padding:.3rem .6rem;
               color:$silverLight-50;
           }
           &__name{
               margin-left:1rem;
               font-size:1.7rem;
               width:40%;
               margin-bottom: 1rem;
               @include responsive(small){
                    
               }
               @include responsive(xsmall){
                width:100%;
                margin-bottom: 3rem;
            }
           }
           &__size{
            left:10rem;
            bottom: .5rem;
            font-size:1.7rem;
            width:40%;
            position: absolute;
            @include responsive(small){
                 
            }
            @include responsive(xsmall){
             width:100%;
             margin-bottom: 3rem;
         }
        }
           &__total{
               position: absolute;
               right:2rem;
               font-size:1.7rem;
               @include responsive(small){
                    
            }
            @include responsive(xsmall){
             width:100%;
             margin-top: 5rem;
             text-align: right;
         }
               
           }
        }
        &__fee{
            margin:1rem;
            padding:1.5rem 1rem;
            border-bottom: dotted .1rem black;
            
            border-top: dotted .1rem black;
            &__total{
                @include align(flex,space-between,null,null);
                &__text{
                    font-size:1.7rem;
                }
                &__price{
                    font-size:1.7rem;
                    
                }
            }
            &__ship{
                @include align(flex,space-between,null,null);
                margin-top:1rem;
                &__text{
                    font-size:1.7rem;
                }
                &__price{
                    font-size:1.7rem;
                    
                }
            }
        }
        &__total{
            margin-top:1rem;
            padding:1.5rem;
            @include align(flex,space-between,null,null);
            &__text{
                font-size:1.8rem;
            }
            &__price{
                font-size:2rem;
                font-weight: 600;
            }
        }
        &-open{
            @include responsive(small){
                display:block;
            }
            @include responsive(xsmall){
                display:block;
            }
        }
        &-close{
            display:none;
          
        }
    }
    &__heading{
        
        margin:2rem 0;
        &__homepage{
            text-align: right;
            a{
                text-decoration: none;
                color:cornflowerblue;
                font-size:1.7rem;
            }
            @include responsive(small){
            
                margin:2rem 0rem;
                text-align: left;
            }
            @include responsive(xsmall){
                margin:2rem 0rem;
                text-align: left;
            }
        }
        &__text{
            font-size:2rem;
        }
        &__link{
            font-size:1.7rem;
            a{
                text-decoration: none;
                color:rgb(109, 139, 221) ;
            }
        }
        &__user{
            font-size:1.7rem;
            width:100%;
            
            &__name{
                @include align(flex,space-between,null,null);
                margin-top:1rem;
            }
           
        }
        &__form{
            width:100%;
            position: static;
            button{
                width: 100%!important;;
            }
            &__input{
                height: 5rem;
                font-size:1.7rem;
                font-weight: 300!important;
                padding-top: 1.2rem;
                width: 100%;
                padding-left:.5rem;
                box-shadow: none;
                border-radius: .5rem;
                &:focus{
                    outline-color:rgb(64, 104, 233);
                }
            }
            &__text{
                position: relative;
                top:-4.5rem;
                left:.8rem;
                font-size: 1.2rem;
                color:$silverDark;
                
            }
            &__COD{
                height: 5rem;
                @include align(flex,center,center,null);
                background: $main1;
                border-radius: .5rem;
                font-size:1.7rem;
                font-weight: 600;
                margin-bottom: 1rem;
                div{
                    color:white;
                    text-decoration: none;
                    width:100%;
                    height:100%;
                    @include align(flex,center,center,null);
                }
            }
            &__momo{
                height: 5rem;
                @include align(flex,center,center,null);
                background:#A80069;
                border-radius: .5rem;
                font-size:2.6rem;
                font-weight: 600;
                margin-bottom: 1rem;
                color:$white;
            }
        }
        &__show{
            display:none;
           @include responsive(small){
               display:flex;
               align-items: center;
            position: relative;
           }
           @include responsive(xsmall){
            display:flex;
               align-items: center;
            position: relative;
           }
           &__text{
            @include responsive(small){
                padding:1rem;
                margin-left:5.5rem;
                font-size:1.3rem;
                margin-top:1.2rem;
                color:$main1;
                
                font-weight: 600;
            }
            @include responsive(xsmall){
                padding:1rem;
                margin-left:4rem;
                font-weight: 600;
                color:$main1;
                font-size:1.3rem;
                margin-top:.2rem;
            }  
           }
        }
    }
}