@use "../abstracts/" as *;
.orderhistory{
     margin: 3rem 0rem;
     width:100%;
     min-height: 43rem;
     &__heading{
         padding:2rem 3rem;
         text-transform: uppercase;
         background-color: $silverLight-45;
         display:flex;
         &__text{
            display:flex;
            justify-content: center;
         }

     }
     &__body{
         margin:.2rem 0rem;
         padding:1rem 3rem;
         font-size:1.6rem;
         background-color: $silverLight-45;
         position: relative;
         &__text{
            display:flex;
            justify-content: center;
            &__link{
                position: relative;
                
                a{
                    position: absolute;
                right: 1rem;
                    text-decoration: none;
                    color:cornflowerblue;
                    @include responsive(medium){
                        right: -5rem;
                    }
                    @include responsive(medium){
                        right: 0rem;
                    }
                }
                
            }
         }
     }
}