@use '../abstracts/' as *;
.profile{
    margin: 3rem 0rem;
     width:100%;
     min-height: 43rem;
     &__form{
         padding-right: 10rem;
     }
     &__heading{
         @include align(flex,space-between,center,null);
         margin:2rem;
        &__link{
            margin-right:11rem;
            a{
                font-size:1.6rem;
                text-decoration: none;
                color:cornflowerblue;}
        }
     }
     &__body{
         @include align(flex,space-between,center,null);
         padding-right: 10rem;
         &__text{
            height: 5rem;
                font-size:1.7rem;
                font-weight: 400!important;
                padding: 1.2rem 0rem;;
                width: 100%;
                margin-left:3rem;
         }
         &__data{
            font-size:1.7rem;
            font-weight: 400!important;
            padding: 1.2rem 0rem;
            margin-right:3rem;
        
         }
     }
}