@use "../abstracts" as *;
.toggle-open{
    cursor: pointer;
    z-index:5;
    display:none;
    
      @include responsive(small){
        
        @include position(fixed,1.5rem,1.8rem,null,null,null,null);
        span:nth-child(1){
            @include toggleSpans($white,2.5rem,.3rem,null)
        }
        span:nth-child(2){
            @include toggleSpans($white,2.5rem,.3rem,.5rem)
        }
        span:nth-child(3){
            @include toggleSpans($white,2.5rem,.3rem,.5rem)
        }
        display:block ;
      }
      @include responsive(xsmall){
        @include position(fixed,.6rem,1rem,null,null,null,null);
        span:nth-child(1){
            @include toggleSpans($white,2.5rem,.3rem,null)
        }
        span:nth-child(2){
            @include toggleSpans($white,2.5rem,.3rem,.5rem)
        }
        span:nth-child(3){
            @include toggleSpans($white,2.5rem,.3rem,.5rem)
        }
    @include position(fixed,.6rem,1rem,null,null,null,null);
        display:block ;
      }
 
}

.toggle-close{
    
    cursor: pointer;
    z-index:5;
    @include responsive(small){
        
        @include position(fixed,1.8rem,1.8rem,null,null,null,null);
        span:nth-child(1){
            @include toggleSpans($white,3rem,1.5px,.5rem);
            transform:rotate(-45deg) translateY(.5rem);
        }
        span:nth-child(2){
           display :none;
        }
        span:nth-child(3){
            @include toggleSpans($white,3rem,1.5px,.5rem);
            transform:rotate(45deg) translateY(-.5rem);
        }
        display:block ;
      }
    @include responsive(xsmall){
        @include position(fixed,.9rem,.4rem,null,null,null,null);
        span:nth-child(1){
            @include toggleSpans($white,3rem,1.5px,.5rem);
            transform:rotate(-45deg) translateY(.5rem);
        }
        span:nth-child(2){
           display :none;
        }
        span:nth-child(3){
            @include toggleSpans($white,3rem,1.5px,.5rem);
            transform:rotate(45deg) translateY(-.5rem);
        }
 
        display:block ;
      }
   
}


.products__toggle-close{
    
    cursor: pointer;
    z-index:5;
    @include responsive(medium){
        
        @include position(absolute,null,null,1rem,1rem,null,null);
        span:nth-child(1){
            @include toggleSpans($main1,3rem,1.5px,.5rem);
            transform:rotate(-45deg) translateY(.5rem);
        }
        span:nth-child(2){
           display :none;
        }
        span:nth-child(3){
            @include toggleSpans($main1,3rem,1.5px,.5rem);
            transform:rotate(45deg) translateY(-.5rem);
        }
        display:block ;
      }
    @include responsive(small){
        
        @include position(absolute,null,null,1rem,1rem,null,null);
        span:nth-child(1){
            @include toggleSpans($main1,3rem,1.5px,.5rem);
            transform:rotate(-45deg) translateY(.5rem);
        }
        span:nth-child(2){
           display :none;
        }
        span:nth-child(3){
            @include toggleSpans($main1,3rem,1.5px,.5rem);
            transform:rotate(45deg) translateY(-.5rem);
        }
        display:block ;
      }
    @include responsive(xsmall){
        @include position(absolute,null,null,1rem,1rem,null,null);
        span:nth-child(1){
            @include toggleSpans($main1,3rem,1.5px,.5rem);
            transform:rotate(-45deg) translateY(.5rem);
        }
        span:nth-child(2){
           display :none;
        }
        span:nth-child(3){
            @include toggleSpans($main1,3rem,1.5px,.5rem);
            transform:rotate(45deg) translateY(-.5rem);
        }
 
        display:block ;
      }
   
}

.products__heading__toggle{
    position: relative;
}
.products__toggle-open{
    
    cursor: pointer;
    z-index:5;
    
    @include responsive(medium){
        
        @include position(absolute,null,null,1rem,1rem,null,null);
        span:nth-child(1){
            @include toggleSpans($main1,2.5rem,.3rem,null)
        }
        span:nth-child(2){
            @include toggleSpans($main1,2.5rem,.3rem,.5rem)
        }
        span:nth-child(3){
            @include toggleSpans($main1,2.5rem,.3rem,.5rem)
        }
        display:block ;
      }
        @include responsive(small){
        
            @include position(absolute,null,null,1rem,1rem,null,null);
            span:nth-child(1){
                @include toggleSpans($main1,2.5rem,.3rem,null)
            }
            span:nth-child(2){
                @include toggleSpans($main1,2.5rem,.3rem,.5rem)
            }
            span:nth-child(3){
                @include toggleSpans($main1,2.5rem,.3rem,.5rem)
            }
            display:block ;
          }
          @include responsive(xsmall){
            @include position(absolute,null,null,1rem,1rem,null,null);
            span:nth-child(1){
                @include toggleSpans($main1,2.5rem,.3rem,null)
            }
            span:nth-child(2){
                @include toggleSpans($main1,2.5rem,.3rem,.5rem)
            }
            span:nth-child(3){
                @include toggleSpans($main1,2.5rem,.3rem,.5rem)
            }
          }
          
     
   

}